*{
  box-sizing:border-box
}
body{
  background-color:#212121;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh

}

.hint {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #af40ff;
  font-weight: 400;
  font-family: monospace;
  letter-spacing: 10px;
  text-wrap: nowrap;
  font-size: 15px;
}
#Ticket {
  position: relative;
  display: inline-block;
}
#container {
  display: inline-block;
  line-height: 1.3;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  animation: ticket-glow 1s ease-in-out infinite alternate;
}
.after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 10;
  &:hover ~ #container {
    transform: perspective(10cm) rotateX(15deg) rotateY(15deg);
  }
}
.before {
  position: absolute;
  content: "";
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 10;
  &:hover ~ #container {
    transform: perspective(10cm) rotateX(-15deg) rotateY(-15deg);
  }
}
.card-container {
  position: relative;
  width: 600px;
  height: 250px;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}
#ch1 {
  display: none;
}
#ch1:checked ~ .card-container {
  transform: perspective(10cm) rotateY(180deg);
}

.card {
  backface-visibility: hidden;
  position: absolute;

  width: 600px;
  height: 250px;
  display: flex;
  font-family: system-ui;
  transform: rotateY(0deg);
}
.main_part {
  padding: 20px;
  height: 250px;
  width: 450px;

  mask: radial-gradient(20px, #0000 98%, #000) -225px -125px;

  background: linear-gradient(90deg, #212121 0%, #5b42f3 50%, #e8e8e8 100%);
}
.main_part_body {
  color: #e8e8e8;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  background:
    radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        rgba(89, 65, 242, 0.35) 54% 57%,
        #0000 59%
      )
      0 calc(100px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        rgba(89, 65, 242, 0.35) 54% 57%,
        #0000 59%
      )
      calc(100px / 2) 0,
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      rgba(89, 65, 242, 0.35) 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      rgba(89, 65, 242, 0.35) 54% 57%,
      #0000 59%
    ),
    #212121;
  background-size:
    calc(100px / 4.667) 100px,
    100px calc(100px / 4.667);

  padding-left: 10px;
  .title {
    margin-bottom: 20px;
    .main_title {
      display: inline-block;
      font-size: 50px;
      font-weight: bold;
      color: transparent;
      background-image: linear-gradient(144deg, #af40ff, #5b42f3);
      background-clip: text;
      animation: glow-pink 1s ease-in-out infinite alternate;
    }
    .sub_title {
      font-size: 10px;
      font-weight: lighter;
      color: #e8e8e8;
    }
  }
  .vip_pass {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    .vip {
      font-size: 25px;
      font-weight: lighter;
      color: gold;
      animation: glow 1s ease-in-out infinite alternate;
    }
    .vip_number {
      font-size: 15px;

      color: #e8e8e8;
    }
    .agendainfo {
      font-size: 10px;
      font-weight: lighter;
      margin-left: auto;
      padding-right: 5px;
    }
  }
  .info {
    font-family: "Courier New", monospace;
    font-size: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    align-items: stretch;
    padding-top: 5px;
    border-top: solid 1px #e8e8e8;
    .date {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0 5px;
      .day {
        font-weight: bold;
        font-size: 15px;
      }
    }
    .time {
      border-right: solid 1px #e8e8e8;
      padding: 0 5px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .location {
      border-right: solid 1px #e8e8e8;
      padding: 0 5px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.small_part {
  transform: rotate(-90deg);
  position: absolute;
  left: 400px;
  top: 50px;
  padding: 20px;

  height: 150px;
  width: 250px;
  border-top: 3px dotted #121212;
  background-color: #e8e8e8;

  mask: radial-gradient(20px, #0000 98%, #000) -125px -75px;
  box-shadow:
    -23px 23px 46px #828282,
    23px -23px 46px #ffffff;
}
.small_part_body {
  transform-style: preserve-3d;
  background:
    radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        rgba(89, 65, 242, 0.35) 54% 57%,
        #0000 59%
      )
      0 calc(100px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        rgba(89, 65, 242, 0.35) 54% 57%,
        #0000 59%
      )
      calc(100px / 2) 0,
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      rgba(89, 65, 242, 0.35) 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      rgba(89, 65, 242, 0.35) 54% 57%,
      #0000 59%
    ),
    #212121;
  background-size:
    calc(100px / 4.667) 100px,
    100px calc(100px / 4.667);
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  background-color: #212121;
  padding: 10px;
  color: #e8e8e8;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .barcode rect {
      fill: #e8e8e8;
    }
  }

  .info {
    font-size: 10px;
    margin-right: 5px;
    padding: 5px;
    border: solid 1px #e8e8e8;
    display: inline;
    text-align: center;
    font-weight: lighter;
    .highlight {
      font-weight: bold;
      font-size: 13px;
      font-family: "Courier New", monospace;
    }
  }

  .ticketNumber {
    font-weight: lighter;
  }
  .small_title {
    position: absolute;
    transform: rotate(90deg);
    top: 35px;
    right: -25px;
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3);
    background-clip: text;
    animation: glow-pink 1s ease-in-out infinite alternate;
  }
  .infos {
    margin-bottom: 10px;
  }
}

.card-back {
  transform: rotateY(180deg);

  backface-visibility: hidden;
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: row-reverse;
  filter: drop-shadow(-25px 25px 29px #272727);
  font-family: system-ui;
}
.main_part-back {
  align-items: center;

  padding: 20px;
  height: 250px;
  width: 450px;

  mask: radial-gradient(20px, #0000 98%, #000) -225px -125px;

  background: linear-gradient(90deg, #e8e8e8 0%, #5b42f3 50%, #212121 100%);
}

.small_part-back {
  transform: rotate(-90deg);
  position: absolute;
  right: 400px;
  top: 50px;
  padding: 20px;

  height: 150px;
  width: 250px;
  border-bottom: 3px dotted #121212;
  background-color: #e8e8e8;

  mask: radial-gradient(20px, #0000 98%, #000) -125px -75px;
  box-shadow:
    -23px 23px 46px #828282,
    23px -23px 46px #ffffff;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.5);
}

.mono {
  font-family: "Courier New", monospace;
}
.agenda {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 1px;
  .col {
    flex: 1;
    border-left: 2px solid #212121;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .agenda-item {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 5px;
      margin: 0 8px 0 8px;
      padding-left: 5px;
      padding-top: 5px;
      background:
        radial-gradient(
            farthest-side at -33.33% 50%,
            #0000 52%,
            rgba(89, 65, 242, 0.35) 54% 57%,
            #0000 59%
          )
          0 calc(100px / 2),
        radial-gradient(
            farthest-side at 50% 133.33%,
            #0000 52%,
            rgba(89, 65, 242, 0.35) 54% 57%,
            #0000 59%
          )
          calc(100px / 2) 0,
        radial-gradient(
          farthest-side at 133.33% 50%,
          #0000 52%,
          rgba(89, 65, 242, 0.35) 54% 57%,
          #0000 59%
        ),
        radial-gradient(
          farthest-side at 50% -33.33%,
          #0000 52%,
          rgba(89, 65, 242, 0.35) 54% 57%,
          #0000 59%
        ),
        #212121;
      background-size:
        calc(100px / 4.667) 100px,
        100px calc(100px / 4.667);

      &::before {
        position: absolute;
        top: 50%;
        left: -9px;
        transform: translate(-50%, -50%);
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #212121;
      }

      .agenda-time {
        font-size: 15px;
        font-weight: bolder;
        font-family: "Courier New", Courier, monospace;
        color: transparent;
        background-image: linear-gradient(144deg, #af40ff, #5b42f3);
        background-clip: text;
      }

      .agenda-text {
        font-size: 10px;
        color: #e8e8e8;
        font-weight: normal;
      }
      .speaker {
        font-size: 7px;
        color: #e8e8e8;
        font-weight: lighter;
      }
    }
  }
}

.glitch {
  position: relative;
  z-index: 1;
  &:hover:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
      infinite;
    color: #5b42f3;
    z-index: -1;
  }
  &:hover:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
      both infinite;
    color: #af40ff;
    z-index: -2;
  }
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes glow {
  from {
    text-shadow:
      0 0 10px gold,
      0 0 20px #fff,
      0 0 30px gold;
  }

  to {
    text-shadow:
      0 0 20px gold,
      0 0 30px gold,
      0 0 40px gold;
  }
}

@keyframes glow-pink {
  from {
    text-shadow: 0 0 20px #af40ff00;
  }

  to {
    text-shadow: 0 0 20px #af40ff55;
  }
}
@keyframes ticket-glow {
  from {
    filter: drop-shadow(0 0 100px #af40ff55) drop-shadow(0 0 30px #ffffff66)
      drop-shadow(0 0 15px #af40ffaa);
  }

  to {
    filter: drop-shadow(0 0 150px#5b42f355) drop-shadow(0 0 20px #ffffff66)
      drop-shadow(0 0 10px #5b42f3aa);
  }
}
